body {
    background-color: rgb(30, 30, 30);
    color: rgb(203, 203, 203)
} 
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
.accordion-button {
    font-size: x-large;
    text-align: center;
    display: block;
    background-color: rgb(231, 241, 255);
    color: rgb(12, 99, 228);
}
.accordion-body {
    background-color: rgb(30, 30, 30);
    color: rgb(203, 203, 203)
}
.accordion-button:not(.collapsed) {
    background-color: rgb(231, 241, 255);
    color: rgb(12, 99, 228);
}
.btn {
    width: 100%;
}
body::-webkit-scrollbar {
    width: 0em;
}
.tooltip-inner {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 3px solid rgb(128, 0, 255);
}

.mainChecklistStyle {
    column-count: 4;
}
.subChecklistStyle {
    column-count: 2;
}
.checklistContainer {
    overflow-y: auto;
    height: 550px;
}
::-webkit-scrollbar {
    background: rgb(36, 36, 36);
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-thumb {
    background: rgb(231, 241, 255);
}